<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sonycsl.Kadecot.plugin.deviceconnectbridge" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name=".DeviceConnectBridgeService"
            android:exported="true"
            tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="com.sonycsl.kadecot.plugin" />
            </intent-filter>
        </service>
    </application>

</manifest>
